<h1>Prepare Thyself for Robot World</h1>

<p><a href='/robots'>Robot List</a></p>
<p><a href='/robots/new'>Create New Robot</a></p><br>

<h3>Dem Raw Analytics:</h3>
<p>The average robot age is: <%= @avg_age %></p>
<p>Organized by Department: <%= @by_department %></p>
<p>Organized by City: <%= @by_city %></p>
<p>Organized by State: <%= @by_state %></p>
