<form class="form-horizontal" action="/robots" method="post">
  <div class="form-group">
    <label for="name" class="col-sm-2 control-label">Name</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" name='robot[name]' placeholder="Name">
    </div>
  </div>
  <div class="form-group">
    <label for="city" class="col-sm-2 control-label">City</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" name='robot[city]' placeholder="City">
    </div>
  </div>
  <div class="form-group">
    <label for="state" class="col-sm-2 control-label">State</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" name='robot[state]' placeholder="State">
    </div>
  </div>
  <div class="form-group">
    <label for="avatar" class="col-sm-2 control-label">Avatar</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" name='robot[avatar]' placeholder="Avatar">
    </div>
  </div>
  <div class="form-group">
    <label for="birth_date" class="col-sm-2 control-label">Birth Date</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" name='robot[birth_date]' placeholder="Birth Date">
    </div>
  </div>
  <div class="form-group">
    <label for="date_hired" class="col-sm-2 control-label">Date Hired</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" name='robot[date_hired]' placeholder="Date Hired">
    </div>
  </div>
  <div class="form-group">
    <label for="department" class="col-sm-2 control-label">Department</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" name='robot[department]' placeholder="Department">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-4">
      <button id="create-robot" type="submit" class="btn btn-success">Create</button>
    </div>
  </div>
</form>
